* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.opener {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background: purple;
  color: white;
}

nav, a {
  background: purple;
  color: white;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}


#timer {
  margin: 30px;
}

h1 {
  margin: 30px;
}

.main {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  padding-top: 100px;
  font-size: larger;
  /* border: 5px solid black; */
}

#info {
  margin-left: 500px;
  margin-right: 500px;
  text-align: center;
  /* border: 3px solid black; */

}

#question {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choice {
  border: 1px solid black;
  margin: 20px;
  height: 50px;
  width: 300px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  /* align-items: baseline; */
}

button:hover {
  background: lightblue;
  color: whitesmoke;
}

#start {
  background: darkgray;
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

.result-name h1 {
  border-bottom: 1px solid black;
  margin-right: 0%;
  padding-right: 20px;
}

.result h1{
  border-bottom: 1px solid black;
  margin-left: 0%;
  padding-left: 20px;

}

button {
  cursor: pointer;
}

p {
  margin: 30px;
  justify-content: center;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #info {margin:0}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* #info {margin-left: 100px;
  margin-right:100px;} */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  #info {margin:0}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  #info {margin:0}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  #info {margin:0}
}